@charset "utf-8";

/*============================================
�e�[�u��
============================================*/
table.profile {
	width:680px;				/*�e�[�u���S�̂̕�*/
}
table.profile th {
	width:150px;				/*���o���Z���̕�*/
	padding:10px;				/*�p�f�B���O*/
	text-align:center;				/*�Z���^�[�����ɂ���*/
	white-space:nowrap;				/*�Z�����̉��s���֎~����*/
	background-color:#ccccee;			/*�Z���̔w�i�F*/
	border-bottom:dotted #666666 1px;		/*�Z���̃{�[�_�[*/
}
table.profile td {
	padding:10px;				/*�p�f�B���O*/
	background-color:#eeeeff;			/*�Z���̔w�i�F*/
	border-bottom:dotted #666666 1px;		/*�Z���̃{�[�_�[*/
}